root = true

[*]
indent_style = space
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{cs,csx}]
indent_size = 4

# Blank lines
resharper_blank_lines_between_using_groups = 0
resharper_blank_lines_after_using_list = 1
resharper_blank_lines_around_namespace = 1
resharper_blank_lines_around_type = 1
resharper_blank_lines_around_field = 0
resharper_blank_lines_around_property = 1
resharper_blank_lines_around_single_line_property = 0
resharper_blank_lines_around_auto_property = 0
resharper_blank_lines_around_method = 1
resharper_blank_lines_around_single_line_method = 0
resharper_keep_blank_lines_in_declarations = 1
resharper_keep_blank_lines_in_code = 1
resharper_remove_blank_lines_near_braces_in_declarations = true
resharper_remove_blank_lines_near_braces_in_code = true

[*.{json,yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
